<div id="repoIndex">
<div id="search_bar_repo">
<%= form_tag(search_repo_path, method: :get,id:"repos") do %>
  <%= text_field_tag(:search, params[:search], placeholder: 'Enter Repo Name', id: 'input_repo')%>
  <%=submit_tag('Search', id: 'submit_repo') %>
<% end %>
</div>

<%= link_to '<button type="button" class="btn btn-primary" id="repos">New Repo</button>'.html_safe, new_repo_path %>
<table id="repos">
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
 
  <% @repos.each do |repo| %>
    <tr>
      <td><%= repo.name %></td>
      <td><%= repo.courses[0].code%></td>
      <td><%= repo.description %></td>
      <td><%= link_to 'Show', repo_path(repo) %></td>
      <td><%= link_to 'Edit', edit_repo_path(repo) %></td>
      <td><%= link_to 'Destroy', repo_path(repo),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

</div>