<div id="repo">
  <div id="repo_body">
    <div id="repo_name">
      <p>
        <strong>
          <font size=6em><%= @repo.name %></font>

        </strong>

      </p>
    </div>
    <p>
      <%=link_to 'Edit Repo', edit_repo_path(@repo) %>
    </p>
    <p>
      <font size=4em><%= link_to @repo.courses[0].code, @repo.courses[0] %></font>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @repo.description %>
    </p>
  </div>

  <% if !@repo.users.include?(current_user)%>
  <%= link_to '<button type="button" class="btn btn-primary" id="repos">Join</button>'.html_safe, repo_join_action_path(@repo), method: "post" %>
  <% else %>
  <p> You are a member of this repository. </p>
  <% end %>
  <table id="repos">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Download</th>
      <th>Delete</th>
    </tr>

    <% @repo.items.each do |item| %>
    <% if item.name != nil %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= link_to 'Download', repo_item_download_file_path(@repo, item) %></td>
      <td><%= link_to 'Destroy item', [item.repo, item],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end%>
    <% end %>
  </table>

</div>

<div class="repo_page">
  <div class="repo_page_right_container">
    <div class="repo_right_sub_container">
      <%= render 'items/form' %>
    </div>
    <div>

      <% if !@repo.users.include?(current_user)%>
      <div class="back_button_container">
        <%= button_to 'Join', repo_join_action_path(@repo), method: :post %>
      </div>
      <% else %>
      <p> You are a member of this repository. </p>
      <% end %>

    </div>
  </div>
</div>
</div>
</div>