<%= form_with scope: :offering, url: offerings_path do |f| %>
<% if @offering.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@offering.errors.count, "error") %> prohibited
    this article from being saved:
  </h2>
  <ul>
    <% @offering.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class = "offerings_page application_background_color">
<div id="offer_tutor">
<h1><%= formType %> Service</h1><br>


  <form>
    <div class="form-row">

      <div class="form-group col-md-12">
        <strong> <%= f.label "title:" %></strong><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group col-md-6">
        <strong><%= f.label "Course code and name: " %> </strong><br>
        <%= f.collection_select :course_id, Course.all, :id, lambda {|u| "#{u.code} - #{u.name}"}, {:prompt => "Please select course"} , class: "form-control"%><br>
      </div>
      <div class="form-group col-md-6">
        <strong><%= f.label "Cost ($)" %></strong><br>
        <%= f.number_field :cost, min: 0, step: 0.01 , class: "form-control"%>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <strong><%= f.label "Start time:" %></strong><br>
        <%= f.datetime_select :startTime, class: "form-control"%>

      </div>
      <div class="form-group col-md-6">
        <strong> <%= f.label "End time:" %> </strong><br>
        <%= f.datetime_select :endTime, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <strong><%= f.label "Street address:" %></strong><br>
      <%= f.text_field :street , class: "form-control"%>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <strong> <%= f.label :city %></strong><br>
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="form-group col-md-4">
        <strong> <%= f.label :province %></strong><br>
        <%= f.text_field :province, class: "form-control" %>
      </div>
      <div class="form-group col-md-2">
        <strong> <%= f.label :country %></strong><br>
        <%= f.text_field :country, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <strong> <%= f.label :description %></strong>
      <%= f.rich_text_area :description, class: "form-control" %>
    </div>

    <%= f.submit :class=>"btn btn-primary",:id=>"submit" %>
  </form>
</div>
</div>

<% end %>