<p>
PLACEHOLDER
</p>
<p>
PLACEHOLDER
</p>
<p>
PLACEHOLDER
</p>
<p>
PLACEHOLDER
</p>
<p>
PLACEHOLDER
</p>

<div>
<table>
  <tr>
    <th>Organizer</th>
    <th>Courses</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Address</th>
    <th>Cost</th>
    <th>Status</th>
    <th colspan="2"></th>
  </tr>

  <% @offerings.each do |offering| %>
    <% if current_user && Time.current.in_time_zone("Eastern Time (US & Canada)") <= offering.startTime.in_time_zone("Eastern Time (US & Canada)") %>
      <tr>
          <td><%= link_to "#{User.find(offering.organizer.id).user_name}", users_profile_path(User.find(offering.organizer.id)), :class => "post_links"%></td>
          <td><%= Course.find(offering.course_id).code %> - <%= Course.find(offering.course_id).name %></td>
          <td><%= offering.startTime.in_time_zone("Eastern Time (US & Canada)").year %>-<%= offering.startTime.in_time_zone("Eastern Time (US & Canada)").month %>-<%= offering.startTime.in_time_zone("Eastern Time (US & Canada)").day %>
          <%= offering.startTime.in_time_zone("Eastern Time (US & Canada)").hour %>:<%= offering.startTime.in_time_zone("Eastern Time (US & Canada)").min %></td>
          <td><%= offering.endTime.in_time_zone("Eastern Time (US & Canada)").year %>-<%= offering.endTime.in_time_zone("Eastern Time (US & Canada)").month %>-<%= offering.endTime.in_time_zone("Eastern Time (US & Canada)").day %>
          <%= offering.endTime.in_time_zone("Eastern Time (US & Canada)").hour %>:<%= offering.endTime.in_time_zone("Eastern Time (US & Canada)").min %></td>
          <td><%= offering.address %></td>
          <td>$<%= offering.cost %></td>
          <td><%= offering.status %></td>
          <td><%= link_to "Show", offering_path(offering.id), :class => "post_link"%></td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>