<div class="tables-container">
<div class="table-container">

<p>
  <strong>Course:</strong>
  <%= link_to "#{Course.find(@offering.course_id).code} - #{Course.find(@offering.course_id).name}", course_path(Course.find(@offering.course_id)), :class => "post_links"%>
</p>

<p>
  <strong>Organizer:</strong>
  <%= link_to "#{User.find(@offering.organizer.id).user_name}", users_profile_path(User.find(@offering.organizer.id)), :class => "post_links"%>
</p>

<p>
  <strong>Attendee:</strong>
  <% if @offering.status != "Free" %>
  <%= link_to "#{User.find(@offering.attendee.id).user_name}", users_profile_path(User.find(@offering.attendee.id)), :class => "post_links"%>
  <% else %>
  N/A
  <% end %>
</p>

<p>
  <strong>Address:</strong>
  <%= @offering.address %>
</p>

<p>
  <strong>Cost:</strong>
  $<%= @offering.cost %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @offering_startTime.year %>-<%= @offering_startTime.month %>-<%= @offering_startTime.day %>
  <%= @offering_startTime.hour %>:<%= @offering_startTime.min %>
</p>

<p>
  <strong>End time:</strong>
  <%= @offering_endTime.year %>-<%= @offering_endTime.month %>-<%= @offering_endTime.day %>
  <%= @offering_endTime.hour %>:<%= @offering_endTime.min %>
</p>

<p>
  <strong>Details:</strong>
  <%= @offering.description %>
</p>

<p>
<strong>Status:</strong>
<%= @offering.status %>
</p>

<% if current_user.id != @offering.organizer.id &&  @offering.status == "Free"%>
  <%= form_tag offerings_booking_path(@offering) do %>
      <article>
      <% if flash[:error].present? %>
      <div id="error_explanation">
      <p><%= flash[:error] %></p>
      </div>
      <% end %>
      <label class="amount">
      <span>Amount: <%= @offering.cost %></span>
      </label>
      </article>
      
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_uwGWFCOkmQqwcOPWQGHqkwGY00jnWfhTkH"
      data-description="Tutoring Payment"
      data-amount="<%= @offering.cost * 100 %>"
      data-locale="auto"></script>
  <% end %>
<% end %>

<div style='width:100%; height:100%;'>  
  <div id="map" style='width: 800px; height: 400px;'></div>  
</div>  <br>

<% if current_user && current_user.id == @offering.organizer.id %>
  <%= link_to 'Edit', edit_offering_path(@offering),:class => "btn btn-secondary", :form_class => "login_buton_form"  %>
  <%= link_to 'Delete', offering_path(@offering), method: "delete", :data => { confirm: 'Are you sure?' }, :class => "btn btn-primary", :id=>"delete",:form_class => "login_buton_form"  %>
<% elsif current_user.id == @offering.attendee.id && @offering.status != "Free" %>
  <%= link_to 'Cancel Booking', offerings_booking_cancel_path(@offering), :method => "get",:class => "btn btn-secondary", :form_class => "login_buton_form"  %>
<% end %>

<script type="text/javascript">  
handler = Gmaps.build('Google');

handler.buildMap({ provider: {}, internal: {id: 'map'}, map_options: {}}, function(){  
  markers = handler.addMarkers([  
    {  
      "lat": <%= @offering.latitude %>,  
      "lng": <%= @offering.longitude %>,  
      "picture": {  
        "width":  32,  
        "height": 32
      },  
      "infowindow": "<%= @offering.address %>"
    }  
  ]);  
  handler.bounds.extendWith(markers);  
  handler.fitMapToBounds();
  handler.getMap().setZoom(17);
});  
</script>
</div>
</div>
