<p>
"asdasfasgfa"
</p>
<p>
"asdasfasgfa"
</p>
<p>
"asdasfasgfa"
</p>
<p>
"asdasfasgfa"

</p>

<p>
<strong>Title:</strong>
<%= @offering.cost %>
</p>

<p>
<strong>Text:</strong>
<%= @offering.organizer.id %>
</p>

<p>
<strong>Text:</strong>
<%= @offering.attendee.id %>
</p>

<p>
<strong>Text:</strong>
<%= @offering.status %>
</p>

<%= form_tag offerings_booking_path(@offering) do %>
    <article>
    <% if flash[:error].present? %>
    <div id="error_explanation">
    <p><%= flash[:error] %></p>
    </div>
    <% end %>
    <label class="amount">
    <span>Amount: <%= @offering.cost %></span>
    </label>
    </article>
    
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.application.credentials.stripe_publishable_key %>"
    data-description="Tutoring Payment"
    data-amount="<%= @offering.cost * 100 %>"
    data-locale="auto"></script>
<% end %>

<div style='width:100%; height:100%;'>  
  <div id="map" style='width: 800px; height: 400px;'></div>  
</div>  

<script type="text/javascript">  
handler = Gmaps.build('Google');

handler.buildMap({ provider: {}, internal: {id: 'map'}, map_options: {}}, function(){  
  markers = handler.addMarkers([  
    {  
      "lat": <%= @offering.latitude %>,  
      "lng": <%= @offering.longitude %>,  
      "picture": {  
        "width":  32,  
        "height": 32
      },  
      "infowindow": "<%= @offering.address %>"
    }  
  ]);  
  handler.bounds.extendWith(markers);  
  handler.fitMapToBounds();
  handler.getMap().setZoom(17);
});  
</script>

<%= link_to '<button type="button" class="btnBack">Book</button>'.html_safe, offerings_booking_path(@offering) %>