<div class = "profile">
<div class = "profile_container">
<div class = "profile_upper_container">
    <div class = "profile_info_container">
        <%= image_tag ("default-user.png"), :class => "default_image"%>

        <div class = "profile_text_field">
            <% if @user.user_name %>
                <p><%= @user.user_name%></p>
            <% else %>
                <p> name is null </p>
            <% end %>
            </div>

            <div class = "profile_text_field">
            <p><%= @user.email%></p>
            </div>



        </div>
        
        <% if (user_signed_in? && @user.id == current_user.id) %>
            <div class = "edit_user">
            <%= button_to "Edit User", edit_user_registration_path(@course), :method => "get" %>
            </div>
        <% end %>
    </div>

</div>

<div class = "profile_lower_container">

    
      <div class = "profile_page_left_container">
        <div class = "users_post">
        <div>
            <div class = "post_header">
                <a data-toggle="collapse" href="#collapse_posts" role="button" aria-expanded="false" aria-controls="collapseExample" class = "collapse_toggle course_link">
                <h4>See Recent Course Posts</h5>
                </a>
            </div>
        </div>
        </div>

        <div class ="collapse" id = "collapse_posts">
        <% @user.posts.limit(5).order(:created_at).reverse.each do |post| %>
          <div class = "users_post">
            <div>
                <div class = "post_header">
                  <div><h5> <%= link_to "#{post.category+'-'+post.title}", course_post_path(post.course, post), :class => "post_title" %></h5></div>
                  <div>Post in <strong><%= link_to "#{@course.find(post.course_id).code}", course_path(:id => post.course_id), :class => "course_link"%></strong></div>
                </div>
                <div class = "line_break"> </div>
                <div class ="post_description_container">
                    <%= post.description%>
                </div>
            </div>
          </div>
        <% end %>
        </div>

      </div>
      </div>

  <div class = "profile_page_right_cotainer">
  <div class = "profile_right_sub_container">
  <div class = "profile_right_info_container">
  <h4 class = "course_title">Course list</h4>
  <div class = "line_break"> </div>
    <% if @user.courses.any? %>
    <%= @user.courses.find_each do |course|%>
        <div><strong><%= link_to "#{course.code+" "+course.name}", course_path(:id => course.id), :class => "course_link"%></strong>
        </div>
    <% end %> 
    <% end %> 
  </div>
  </div>

    <div class = "profile_right_sub_container">
    <div class = "profile_right_info_container">
    <h4 class = "course_title">Public Repos</h4>
    <div class = "line_break"> </div>
    <% if @user.repos.any?%>
    <% @user.repos.find_each do |r| %>
    <div><strong><%= link_to "#{r.name}", repo_path(:id => r.id), :class => "course_link"%></strong>
    </div>
    <% end %>
    <% end %>
    <% if user_signed_in? && current_user == @user%>
    <div class = "create_repo_button_container">
    <%= button_to 'Create repo', new_repo_path(:course_id => @course), :method => "get", :class => "create_repo_button" %>
    </div>
    <% end %>
  </div>
  </div>

</div>

</div>
</div>
</div>