<div class = "profile">
<div class = "profile_container">
<div class = "profile_upper_container">
    <div class = "profile_info_container">
        <%= image_tag ("default-user.png"), :class => "default_image"%>

        <div class = "profile_text_field">
            <% if @user.user_name %>
                <p><%= @user.user_name%></p>
            <% else %>
                <p> name is null </p>
            <% end %>
            </div>

            <div class = "profile_text_field">
            <p><%= @user.email%></p>
            </div>

        </div>
        
        <% if (user_signed_in? && @user.id == current_user.id) %>
            <div class = "edit_user">
            <%= button_to "Edit User", edit_user_registration_path(@course), :method => "get" %>
            </div>
        <% end %>
    </div>

<div class = "profile_page_break"> </div>
<div class = "profile_lower_container">
<h2> Repos </h2>
<% if @user.repos.any? %>
    <%= @user.repos.find_each do |r|%>
    <p><%= r.name%></p>
    <p><%= r.description%></p>
    <p><%= r.public%></p>
    <% end %>
<% else %>
    <p>No repo yet</p> 
<% end %>

<h2> Courses </h2>
<% if @user.courses.any? %>
<%= @user.courses.find_each do |course|%>
    <p><%= course.code%><%= course.name%></p>
<% end %> 
<% end %> 

<h2> Posts </h2>
<% if @user.posts.any? %>
    <%= @user.posts.find_each do |p|%>
    <p><%= p.title%></p>
    <% end %>
<% else %>
    <p>No posts yet</p> 
<% end %>
</div>

</div>
</div>
</div>