<div class = "signin">
<div class = "signin_container">
<div class = "content">
<div class = "signin_image">
  <figure><%= image_tag ("signin-image.jpg") %></figure>
</div>

<div class = "signin_form">
<h2 class = "title">Change Password</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div>
  <%= f.password_field :password, autocomplete: "new-password",
      :placeholder => "Password",
      :class => "signin_input_field"%>
  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  </div>

  <div>
  <%= f.password_field :password_confirmation, autocomplete: "new-password",
    :placeholder => "Confirm password",
    :class => "signin_input_field"%>
  </div>

  <div>
    <%= f.submit "Change my password", :class => "signin_button"  %>
  </div>

<% end %>

</div>
</div>
</div>
</div>


