<!-- Course Search Bar -->
<div class = "home_page">
<div class = "logo">
    <figure><%= image_tag ("logo.png") %></figure>
</div>
<div id="search_bar_home">
<%= form_tag(search_page_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search], placeholder: 'Enter Course Name', id: 'input_home')%>
  <%=submit_tag('Search',id: 'submit_home') %>
  <%= button_to 'Course list', courses_path, :class => "button"%>

<% end %>
</div>
</div>


