<h1>Home page</h1>

<!-- Course Search Bar -->
<div class = "logo">
    <figure><%= image_tag ("logo.png") %></figure>
</div>
<div class="search_bar">
<%= form_tag(search_page_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search])%>
  <%=submit_tag('Search') %>
<% end %>
</div>

<%= render 'layouts/devise_alerts' %>

