<%= form_with(model: [ @repo, @repo.items.build ], local: true)  do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>

    <%= form.file_field :url%>

    <p>
      <%= form.submit %>
    </p>
  <% end %>