<%= form_with(model: [ @repo, @repo.items.build ], local: true)  do |form| %>
  <div class="row">
  <div class="col-md">
    <div class="form-group">
      <%= form.text_field :name, :class=>"form-control",:placeholder=>"name"%>
    </div>
    <div class="form-group">
    <p>
      <%= form.text_area :description, :class=>"form-control",:placeholder=>"description" %>
    </p>
  </div>

    <%= form.file_field :url%>
    <%= form.submit :class=>"btnSubmit" %>
    </div>
  </div>
  <% end %>
