<p>
    <strong>Name:</strong>
    <%= @item.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= @item.description %>
</p>

<p>
    <strong>File name:</strong>
    <%= @item.url %>
</p>

<%= link_to 'Download FILE', repo_item_download_file_path(@repo, @item) %>

<p>
  <%= link_to 'Destroy item', [@item.repo, @item],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% if @item.file.attached? %>
    <iframe src="<%= (url_for(@item.file)) %>" width="100%" height="680" style="border: none;"> </iframe>
<%end%>