<h1>All courses</h1>


<div id="search_bar_course">
<%= form_tag(search_page_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search], placeholder: 'Enter Course Name', id: 'input_course')%>
  <%=submit_tag('Search', id: 'submit_course') %>
<% end %>
</div>

<div>
<table id="courses">
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.description %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
    </tr>
  <% end %>
</table>
</div>
