<div id="post">
  <div id="post_body">
    <div id="post_name">
      <p>
        <strong>
          <font size=6em><%= @post.title %></font>
        </strong>

      </p>
    </div>

    <p>
      <strong><%= @post.category %></strong> post, by user:
      <%=@users.find(@post.user_id).user_name%>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @post.description %>
    </p>

    <div class ="edit_delete_container">
    <% if current_user && current_user.id == @post.user_id %>
        <%= button_to "Edit Post", edit_course_post_path(@course, @post), :method => "get", :class => "button post_button", :form_class => "login_buton_form" %>
        <%= button_to "Delete Post",course_post_path(@course, @post), :method => "delete", :data => { confirm: 'Are you sure?' }, :class => "button post_button", :form_class => "login_buton_form" %>
    <% end %>
    </div>


    <% if current_user %>
    <%= form_with(model: [ @course, @post, @post.comments.build ], local: true) do |form| %>
    <p>
      Comment as: <%= current_user.user_name %><br>
      <%= form.text_area :description ,class:"form-control",height:"58px" %>
    </p>
    <div class = "create_post_container">
      <%= form.submit :class=>'button post_button'%>
    </div>
    <% end %>



    <% else %>
    <div class = "write_comment_container">
      <div class = "write_comment">Write a comment! </div>
      <%= button_to "Log in", new_user_session_path, :method => "get", :class => "button login_button", :form_class => "login_buton_form"%>
      <%= button_to "Sign up", new_user_registration_path, :method => "get", :class => "button login_button", :form_class => "login_buton_form"%>
    </div>
    <% end %>
  </div>


  <div id="post_comment">
    <% @post.comments.order(:created_at).reverse.each do |comment| %>
    <div class="comment">

        <div class="comment_upper_container">

          <div class = "user_name_container">
            <strong>User:
            <%= link_to "#{@users.find(comment.user_id).user_name}", users_profile_path(@users.find(comment.user_id)), :class => "post_links"%>
            </strong>
          </div>

          <p>
            <%= comment.description %>
          </p>
        </div>

    </div>
  <% end %>
  </div>

