<h1>All courses</h1>
 
<table>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.description %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
    </tr>
  <% end %>
</table>

<!-- Course Search Bar -->
<%= form_tag(search_page_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search])%>
  <%=submit_tag("Search") %>
<% end %>
<td><%= link_to 'Back', root_path %></td>